.clicker-game {
  background: linear-gradient(to right, blue, green, yellow, red, black);
  position: relative;
}

.js-clicker-button {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: transparent;
}
