header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: none;
  flex-direction: row;
}

h1 {
  display: flex;
}

header p {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px 0px;
  text-align: center;
  align-items: center;
  padding: 0px 15px;
  height: 80.47px;
  cursor: pointer;
  transition: 0.25s;
}

header p:hover {
  background-image: linear-gradient(to right, gold, red);
}
